<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DasaSahityaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ttd_dsp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ttd_dsp_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TTDDasaSahitya">
        <activity
            android:name=".DasarapadaListActivity"
            android:exported="false" />
        <activity
            android:name=".ScreenSplash"
            android:exported="true"
            android:theme="@style/Theme.Login"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Login"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".service.UdayaVaniService" />
        <service android:name=".service.AcharyaVaniService" />
    </application>

</manifest>